.logo-icon {
  font-size: 30px;
}

.logo-text {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f27b2c;
}

.logo-text span {
  color: #ffa45c;
}

.foodbook-logo {
    width: 90px;
    object-fit: contain;
}
